@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
/*font-family: 'Inter', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: hsl(36, 100%, 99%);
    padding: 15px;
    align-items: center;
    font-family: 'Inter', sans-serif;;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    padding-top: 10px;
}

.header .logo {
    width: 40px;
}

.header .menu-icon {
    width: auto;
}

.initial-content .image-desktop {
    display: none;
}

.initial-content .image-mobile {
    width: 345px;
    height: 340px;
    background-position: center;
    background-size: cover;
}

.initial-content h1 {
    font-size: 38px;
    color: hsl(240, 100%, 5%);
    font-weight: 800;
    padding-bottom: 10px;
}

.initial-content h1::before {
    white-space: pre;
    content: "The Bright\a Future of Web \a 3.0?";
}

.initial-content p {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: hsl(236, 13%, 42%);
    padding-bottom: 20px;
}

.initial-content button {
    width: 170px;
    height: 40px;
    background-color: hsl(5, 85%, 63%);
    border-style: none;
    color: hsl(36, 100%, 99%);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 50px;

}

.new {
    width: 100%;
    background-color: hsl(240, 100%, 5%);
    height: fit-content;
    padding: 25px;
    margin-bottom: 50px;
}

.new hr {
    border: 0.1px solid hsla(36, 100%, 99%, 0.315);
    margin-top: 10px;
    margin-bottom: 15px;
}

.new h2 {
    color: hsl(35, 77%, 62%);
}

.new h3 {
    color: hsl(36, 100%, 99%);
    padding-bottom: 8px;
}

.new p {
    color: hsl(233, 8%, 79%);
    line-height: 25px;
    padding-bottom: 10px;
}

.content {
    display: flex;
    gap: 10px;
}
.content .image-content  {
    width: 25%;
    margin-bottom: 20px;
}

.contents span {
    color: hsl(233, 8%, 79%);
    font-weight: 700;
    font-size: 24px;
}

.contents h3 {
    margin-top: 10px;
    font-size: 16px;
    color: hsl(240, 100%, 5%);
    margin-bottom: 10px;
}

.contents p {
    width: 200px;
    font-size: 14px;
    color: hsl(236, 13%, 42%);
    line-height: 20px;
}
.disable {
    display: none;
}

.background {
    width: 100vh;
    height: 100vh;
    background-color: hsl(240, 100%, 5%);
    position: absolute;
    top: 0px;
    opacity: 35%;
    left: 0px;
}

.menu {
    width: 70%;
    position: absolute;
    z-index: 1;
    height: 100vh;
    right: 0px;
    top: 0px;
    background-color: hsl(36, 100%, 99%);
    color: hsl(240, 100%, 5%);
}

.menu button {
    position: relative;
    padding-left: 210px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.menu h3 {
    font-weight: 400;
    padding: 20px 0px 10px 25px;
}

button {
    border-style: unset;
    background-color: transparent;
}

@media(min-width: 1366px) {

    body {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
       
        grid-template-areas: 
        'header header header'
        'initial-content initial-content new'
        'initial-content initial-content new'
        'content-1 content-2 content-3';
        padding: 100px;
        gap: 20px;
    
    }

    #header {
        grid-area: header;
    }
    #initial-content {
        grid-area: initial-content;
    }
    #new {
        grid-area: new;
        height: 100%;
    }

    .new {
        margin-bottom: 0;
    }
    #content-1 {
        grid-area: content-1; 
    }
    #content-2 {
        grid-area: content-2; 
    }
    #content-3 {
        grid-area: content-3; 
    }

    .initial-content{  
        display: grid;
        grid-template-areas: 'image image'
                             'title texto';
        grid-template-columns: repeat(2, 1fr);     
        gap: 20px;                        
    }

    .initial-content button {
        width: 200px;
        height: 50px;
        background-color: hsl(5, 85%, 63%);
        border-style: none;
        color: hsl(36, 100%, 99%);
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2.5px;
        margin-bottom: 0px;
    }

    .header .logo {
        width: 90px;
    }

    .header button {
        display: none;
    }
    .menu button {
        display: none;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        width: 100%;
        height: auto;
        color: hsl(236, 13%, 42%);
        font-size: 18px;
    }

    .initial-content .image-mobile {
        display: none;
    }

    .initial-content .image-desktop {
        grid-area: image;
        max-width: 100%;
        /* height: ; */
        display: block;
        margin-bottom: 15px;
    }

    .initial-content h1 {
        height: 100%;
    }

    .initial-content {
        gap: 0px;
        height: 100%;
    }
    .content-button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .initial-content h1::before {
       grid-area: title;
       content: "The Bright\a Future of \a Web 3.0?";
       white-space: pre;
       font-size: 52px;
    }

    .initial-content p {
        grid-area: texto;
        font-size: 18px;
        line-height: 35px;
        padding-bottom: 0px;

    }

    .initial-content button {
        grid-area: button;
        grid-column: 2/3;
        font-size: 14px;
        height: 50px;
        margin-bottom: 0px;
        white-space: unset;
    }

    .new h2 {
        font-size: 42px;
        margin-bottom: 30px;
        margin-top: 15px;
    }

    .new h3 {
        font-size: 22px;
        margin-bottom: 15px;
        margin-top: 30px;
    }

    .new p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .content {
        padding-top: 50px;
    }

    .content .image-content {
        width: 110px;
    }

    .content span {
        font-size: 36px;
    }

    .content h3 {
        font-size: 20px;
    }

    .content p {
        width: 250px;
        font-size: 18px;
        line-height: 30px;
    }
}